---
import Count from "../Fragments/Count.astro";
---


<section>
    <h3>Despegamos en:</h3>

    <Count /> 

    <div class="date__text">
        <div class="img">
            <div id="gift-1"></div>
        </div>
        <div class="text">
            <h5 style="margin: 0;">Fecha del despegue</h5>
            <small style="margin: 0;">Viernes</small>
            <h4 style="margin: 0;">9 de Enero</h4>
            <p style="margin: 0;">10:30 a.m</p>
        </div>
    </div>
</section>


<style>
    section {
        width: 100%;
        padding: 20px 0 20px 0;
        overflow: hidden;
    }

    section h3 {
        font-size: 25px;
        color: #e681dc;
        text-align: center;
        margin: 0;
    }

    section .date__text {
        width: 100%;
        margin-top: 20px;
        display: flex;
    }

    section .date__text .img {
        position: relative;
        width: 100px;
    }

    section .date__text .img div {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        transform: rotate(45deg) scale(1.2);
    }

    section .date__text .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }

    section .date__text .text h5 {
        font-size: 22px;
        color: #e681dc;
        margin-bottom: 10px!important;
    }

    section .date__text .text small {
        font-size: 15px;
        letter-spacing: 4px;
        color: #092240;
    }
    
    section .date__text .text h4 {
        font-size: 30px;
        color: #092240;
    }

    section .date__text .text p {
        font-size: 18px;
        color: #092240;
    }

    @media (min-width: 576px) {
        section {
            padding: 40px 0 40px 0;
        }

        section h3 {
            font-size: 36px;
        }

        section .date__text .img {
            width: 40%;
        }

        section .date__text .img div {
            transform: rotate(0) scale(1.2);
        }

        section .date__text .text h5 {
            font-size: 30px;
        }

        section .date__text .text small {
            font-size: 24px;
        }
        
        section .date__text .text h4 {
            font-size: 40px;
        }

        section .date__text .text p {
            font-size: 26px;
        }
    }

    @media (min-width: 1024px) {
        section {
            padding: 40px 0 80px 0;
        }

        section h3 {
            font-size: 50px;
        }

        section .date__text .img {
            width: 50%;
        }

        section .date__text .img div {
            bottom: -40px;
            transform: scale(1.4);
        }

        section .date__text .text h5 {
            font-size: 46px;
        }

        section .date__text .text small {
            font-size: 34px;
        }
        
        section .date__text .text h4 {
            font-size: 50px;
        }

        section .date__text .text p {
            font-size: 34px;
        }         
    }
</style>

<script>
    import Lottie from "lottie-web";

    const container1 = document.getElementById('gift-1');
    if (Lottie && container1) {
        Lottie.loadAnimation({
            container: container1,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: '/assets/Date/Rocket.json',
        });
    }
</script>