---

---


<section>
    <p>Tu abordaje es muy importante, pero si quieres mandar provisiones hay mucho espacio en la zona de carga.</p>

    <div class="content__gift">
        <div class="img">
            <img src="/assets/Gifts/7.png" alt="Astronauta con regalo">
        </div>
        <div class="info">
            <h5>Mesa de regalos:</h5>
            <h6>Liverpool 51595952</h6>
            <a class="text__animate2--fade" href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51595952" target="_blank">
                <img src="/assets/Gifts/8.png" alt="Click Here">
            </a>
        </div>
    </div>
</section>


<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        overflow: hidden;
    }

    section p {
        width: 90%;
        font-size: 15px;
        text-align: center;
        color: #092240;
        margin: 0;
    }

    section .content__gift {
        width: 90%;
        display: flex;
        margin-top: 20px;
    }

    section .content__gift .img {
        width: 40%;
    }

    section .content__gift .img img {
        width: 100%;
    }

    section .content__gift .info {
        width: 60%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section .content__gift .info h5 {
        font-size: 20px;
        color: #896eb1;
        margin: 0;
    }

    section .content__gift .info h6 {
        font-size: 18px;
        color: #896eb1;
        font-weight: 400;
        margin: 0;
    }

    section .content__gift .info a {
        width: 70%;
        align-self: center;
        margin-top: 10px;
        text-decoration: none;
    }

    section .content__gift .info a img {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 576px) {
        section {
            padding: 35px 0;
        }

        section p {
            width: 90%;
            font-size: 24px;
        }

        section .content__gift .info h5 {
            font-size: 36px;
        }

        section .content__gift .info h6 {
            font-size: 34px;
        }
    }

    @media (min-width: 1024px) {
        section {
            padding: 45px 0;
        }

        section p {
            width: 80%;
            font-size: 36px;
        }

        section .content__gift .img {
            width: 30%;
        }

        section .content__gift .info h5 {
            font-size: 54px;
        }

        section .content__gift .info h6 {
            font-size: 52px;
        }

        section .content__gift .info a {
           width: 50%;
        }
    }
</style>


<script>
    import gsap from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger);

    gsap.from('.text__animate2--fade', {
        scrollTrigger: {
            trigger: '.text__animate2--fade',
            start: 'top 80%',
            toggleActions: 'play none none none'
        },
        opacity: 0,
        y: 50,
        duration: 1,
        ease: 'power2.out',
        stagger: 0.2
    });
</script>