---

---


<section>
    <div class="content__inv">
        <div class="img">
            <div id="gift-4"></div>
        </div>
        <div class="invs">
            <h4>Tripulantes:</h4>
            <div class="inv">
                <p>Martha Cano</p>
                <p>José Mejía</p>
                <p>Alan Mejía</p>
                <p>Ale Orta</p>
            </div>
            <h5>Total: 4</h5>
        </div>
    </div>
</section>


<style>
    section {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    section .content__inv {
        width: 90%;
        display: flex;
    }

    section .content__inv .img {
        position: relative;
        width: 40%;
        height: 100%;
    }
    
    section .content__inv .img div {
        position: absolute;
        left: -10px;
        width: 100%;
        height: 100%;
        transform: scale(1.2);
    }
    
    section .content__inv .invs {
        width: 60%;
        height: 100%;
        background-color: #092240;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 0;
    }

    section .content__inv .invs h4 {
        color: #8acbdf;
        font-size: 24px;
        margin: 0;
        padding-left: 15px;
        margin-bottom: 5px;
    }
    
    section .content__inv .invs .inv {
        width: 100%;
        padding-left: 15px;
    }
    
    section .content__inv .invs .inv p {
        font-size: 18px;
        color: #fff;
        margin: 0;
    }
    
    section .content__inv .invs h5 {
        font-size: 18px;
        color: #fff;
        margin: 0;
        text-align: right;
        padding-right: 15px;
    }
</style>


<script>
    import Lottie from "lottie-web";

    const container4 = document.getElementById('gift-4');
    if (Lottie && container4) {
        Lottie.loadAnimation({
            container: container4,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: '/public/assets/Inv/SpaceMan.json',
        });
    }
</script>