---

---


<section>
    <h3>Código de vestimenta</h3>

    <div class="content__outfit">
        <div class="texts text__animate4--fade" style="text-align: right;">
            <h5>Hombres</h5>
            <p>Formal</p>
            <p>Traje, pantalón de vestir con camisa, saco o blazer, corbata.</p>
            <p>NO color azul marino.</p>
        </div>
        <div class="img">
            <img class="img__zoomin--fade" src="/assets/Outfit/9.png" alt="Cohete">
        </div>
        <div class="texts text__animate5--fade">
            <h5>Mujeres</h5>
            <p>Formal</p>
            <p>Vestido, traje sastre, mono, falda, blusa, tacones o flats.</p>
            <p>NO color blanco o morado.</p>
        </div>
    </div>

    <img class="nebuUno" src="/assets/Header/2.png" alt="Nebulosa">
    <img class="nebuDos" src="/assets/Header/2.png" alt="Nebulosa">
    <img class="starUno" src="/assets/Header/3.png" alt="Estrellas">
    <img class="starDos" src="/assets/Header/3.png" alt="Estrellas">
</section>


<style>
    section {
        position: relative;
        width: 100%;
        background-color: #092240;
        padding: 40px 0;
        overflow: hidden;
    }

    section h3 {
        font-size: 25px;
        color: #e681dc;
        text-align: center;
        margin: 0;
    }

    section .content__outfit {
        width: 100%;
        margin-top: 15px;
        display: flex;
        z-index: 10;
    }

    section .content__outfit .img {
        width: 30%;
    }
    
    section .content__outfit .img img {
        width: 100%;
        transform-origin: center center;
        will-change: transform, opacity;
    }

    section .content__outfit .texts {
        flex: 1;
        color: #fff;
        padding-right: 5px;
    }

    section .content__outfit .texts h5 {
        font-size: 16px;
        margin: 0;
        margin-bottom: 7px;
    }

    section .content__outfit .texts p {
        font-size: 14px;
        margin: 0;
    }

    section .nebuUno {
        position: absolute;
        width: 150px;
        top: -55px;
        left: -50px;
        z-index: 1;
        transform: rotate(-20deg);
    }

    section .nebuDos {
        position: absolute;
        width: 150px;
        top: -55px;
        right: -62px;
        z-index: 1;
        transform: rotate(5deg);
    }

    section .starUno {
        position: absolute;
        width: 50%;
        bottom: -45px;
        left: 0;
        opacity: 0.5;
        z-index: 1;
    }
    
    section .starDos {
        position: absolute;
        width: 50%;
        bottom: -45px;
        right: 0;
        opacity: 0.5;
        z-index: 1;
    }

    @media (min-width: 576px) {
        section {
            padding: 60px 0;
        }
        
        section h3 {
            font-size: 40px;
        }

        section .content__outfit .img {
            width: 25%;
        }

        section .content__outfit .texts {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        section .content__outfit .texts h5 {
            font-size: 26px;
        }

        section .content__outfit .texts p {
            font-size: 22px;
        }

        section .nebuUno {
            width: 250px;
        }

        section .nebuDos {
            width: 250px;
        }
    }

    @media (min-width: 1024px) {        
        section h3 {
            font-size: 50px;
        }

        section .content__outfit .img {
            width: 20%;
        }
        
        section .content__outfit .texts h5 {
            font-size: 38px;
        }

        section .content__outfit .texts p {
            font-size: 28px;
        }

        section .nebuUno {
            width: 350px;
            top: -90px;
            left: -85px;
        }

        section .nebuDos {
            width: 350px;
            top: -75px;
            right: -85px;
        }

        section .starUno {
            width: 42%;
            bottom: -140px;
        }
        
        section .starDos {
            width: 42%;
            bottom: -140px;
        }
    }
</style>


<script>
    import gsap from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger);

    gsap.from('.img__zoomin--fade', {
        scrollTrigger: {
            trigger: '.img__zoomin--fade',
            start: 'top 80%',
            toggleActions: 'play none none none'
        },
        opacity: 0,
        scale: 0.8,
        duration: 0.9,
        ease: 'power2.out'
    });

    gsap.from('.text__animate4--fade', {
        scrollTrigger: {
            trigger: '.text__animate4--fade',
            start: 'top 80%',
            toggleActions: 'play none none none'
        },
        opacity: 0,
        x: -100,
        duration: 1,
        ease: 'power2.out',
        stagger: 0.2
    });

    gsap.from('.text__animate5--fade', {
        scrollTrigger: {
            trigger: '.text__animate5--fade',
            start: 'top 80%',
            toggleActions: 'play none none none'
        },
        opacity: 0,
        x: 100,
        duration: 1,
        ease: 'power2.out',
        stagger: 0.2
    });
</script>